*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #d38c3b;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-container{
    display: flex;
    width: 650px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
.register, login{
    flex: 1;  
}
.register{
    padding: 40px;
    position: relative;   
}
.register h2{
    color: #797979;
    margin-bottom: 30px;
}
.register input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333; 
}
.register input:active,
.register input:focus{
    outline: none;
}
.boton {
    width: auto;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .boton:hover {
    background-color: #0069d9;
  }

@media only screen and (max-width: 540px){
    .login-container{
        display: block;
    }
    .register, .login{
        flex: none;
    

    }
}
