/* CSS personalizado */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

body {
  background-color: #ffffff;
  color: #000000;
}

header {
  background-color: #DAA520;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 80px;
}

.h h1 {
  color: #ffffff;
  font-size: 18px;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.navi {
  background-color: #DAA520;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.navi a {
  color: #ffffff;
  font-size: 18px;
  margin-right: 40px;
  text-decoration: none;
  transition: color 0.3s;
}

.navi a:hover {
  color: #ff0000;
}

.BtnLogin {
  background-color: transparent;
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: pulse 1s infinite;
}

@keyframes pulse {
   0% {
     transform: scale(1);
   }
 
   50% {
     transform: scale(1.1);
   }
 
   100% {
     transform: scale(1);
   }
}

form {
  padding: 50px 20px;
  background-color: #ffffff;
  margin: calc(25% + 100px);
  margin-top: 70px;
  padding-top: 28px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  padding: 12px;
  color: #444;
}

input,
select {
  width: calc(100% - 20px);
  padding: 9px;
  margin: auto;
  margin-top: 12px;
  font-size: 16px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='submit'] {
  background-color: rgb(231, 141, 39);
  color: #fff;
  width: 76%;
  margin: 0 10%;
  margin-top: 22px;
  border: none;
  cursor: pointer;
}
